<h4>Refine a search with operators</h4>
<p>You can use search operators to refine a query. It enables you to look for several words at once.</p>
<h5>AND</h5>
<p>Finds documents that contain <strong>all</strong> of the specified words. <br>
<span style="color:#68757E">special <strong>AND</strong> play</p></span>
<div class="hr-line-dashed"></div>
<h5>OR</h5>
<p>Finds documents that contain <strong>at least one</strong> of the specified words.<br>
<span style="color:#68757E">queen <strong>OR</strong> japan</p></span>
<div class="hr-line-dashed"></div>
<h5>NOT</h5>
<p><strong>Excludes</strong> the documents that contain the specified word.<br>
<span style="color:#68757E"><strong>NOT</strong> happy</p></span>
<div class="hr-line-dashed"></div>
<h5>JOKER *</h5>
<p>Finds documents that contain <strong>part of the string</strong> and not the word as whole.<br>
<span style="color:#68757E">land<strong>*</strong> - returns land, landscape etc.</p></span>